:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  background: #f7f7f7;
}
body {
  background: white;
  /* max-width: 1000px; */
  margin: 0 auto;
}
header,
footer {
  background-color: white;
  height: 100px;
  /* color: white; */
}

header {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  column-gap: 10px;
  padding: 10px 20px;
}
.header-item {
  background-color: white;
  /* background-image: url("/images/home-background.jpg"); */
}

.center-header-item {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  column-gap: 10px;
  /* background-color: aliceblue; */
}
.agent-login {
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.user-login-register {
  display: grid;
  /* flex-direction: row; */
  padding: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
  row-gap: 10px;
}

.secondry-logo {
  background-image: url("../public/images/secondry-logo.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}
.primary-logo {
  background-image: url("../public/images/logo.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}
main {
  /* background-color: rgb(183, 231, 215); */
  background-image: url("../public/images/home-background.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 600px;
  padding-top: 50px;
}

.search-container {
  /* background; */
  display: grid;
  /* background-color: lightskyblue; */
  background-color: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px auto;
  column-gap: 10px;
  min-width: 600px;
  width: 40vw;
  height: 500px;
  margin-left: 5vw;
  padding: 15px;
}

.search-train-label {
  background-color: darkblue;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  /* vertical-align: middle; */
  /* justify-content: center; */
  color: white;
}

.search-train-container {
  display: grid;
  background-color: white;
  /* margin-top: 15px; */
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 60px repeat(3, 45px);
  grid-column-start: 1;
  grid-column-end: 4;
  column-gap: 30px;
  padding: 15px;
  row-gap: 30px;
}

.heading-item {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 3rem;
  font-weight: bold;
  color: darkblue;
  text-align: center;
}

.search-train-item {
  border-color: darkblue;
  border-radius: 5px;
}
.bool-container {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px;
}
.search-button {
  margin: 5px 70px 10px 30px;
  height: 40px;
  background-color: rgb(255, 115, 0);
  font-size: 1.5rem;
  border: 0;
  border-radius: 10px;
}
.search-button:hover {
  background-color: rgb(243, 144, 62);
}
/* .search-train-item {
} */
