extends agentLayout

block stylesheets 
  link(rel='stylesheet', href='/stylesheets/agent-styles.css')
  link(rel='stylesheet', href='/stylesheets/signup-request-table.css')

block scripts
  script(src='/javascripts/signup-request-table.js', defer)


block mainContent
  .main-content
    section#add-new-section
      form#zone-form.input-container(name='zone-form', action='/agent/signup-request-table', hidden='')
        h1 Approve New Signup
        // method="POST"
        // action="http://localhost:3000/agent/state-input"
        .form-input-row-container
          .input-container-row
            .zone-name-input
              // <h id="sr-no">1.</h>
              label(for='zone-name-input-value') Zone Name:
              input#zone-name-input-value(type='text', maxlength='30', name='zone-name-input-value', required='')
            .zone-code-input
              // <h id="sr-no">1.</h>
              label(for='zone-code-input-value') Zone Code:
              input#zone-code-input-value(type='text', maxlength='30', name='zone-code-input-value', required='')
        button(type='reset') Reset
        button#submit-zone-btn(type='submit')
          // onclick="submitState();"
          | Submit
    hr
    section#search-section
      #signup-search-form.input-container(name='search-form')
        // action="http://localhost:3000/agent/state/"
        label(for='search-text') Search by Username : 
        input#search-text(type='text', max='40', required='', name='search-text')
        button(type='reset', name='search-text') Reset
        button#search-btn(type='button', onclick='searchUsername()')
          | Search
        //
          <input
          type="submit"
          value="Submit"
          name="submit"
          onClick="return confirmSubmit()"
          />
      ul
        li
          button(onclick="showRequest('pending')")
            | Show all pending request
        li
          button(onclick="showRequest('approved')")
            | Show all approved request
        li
          button(onclick="showRequest('rejected')")
            | Show all rejected request
      .pending-signup-container
        table#pending-signup-table
          thead
            tr
              td Email
              td Username
              td First Name
              td Lastname
              td Phone Number
              td DOB
              td Request Date
              td Response Status
              td Response Date
              td Responce Agent Email
              td Approve
              td Reject
          tbody